/* style.css */

/* Set alternative box model */
html {
    box-sizing: border-box;
    background-color: rgb(236, 156, 236);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.list {
    text-align: center;
    line-height: 100px;
    text-decoration: none;
    height: 100px;
    width: 350px;
    margin: 20px auto;
    background: rgb(156, 62, 204);
    display: block;
    border: 5px ridge blueviolet;
}

.buttonfont {
    font-family: fantasy;
    font-weight: bold;
    color: white;
}

.dishpic {
    margin: 0 auto;
    display: block;
    width: auto;
}

h1 {
    font-family: fantasy;
    font-weight: bolder;
    text-align: center;
    color:white;
}


ul li {
    color:blue;
}

ol li {
    color:purple;
}

h2, h3 {
    color:darkred;
}

p {
    font-family: cursive;
}

a {
    text-align: center;
}

.one {
    color: darkgreen;
    font-style: italic;
}

.two {
    color: darkorange;
}

.three {
    color: darkcyan;
}

#last {
    font-weight: bolder;
}