/* style.css */

/* Set alternative box model */
html {
    box-sizing: border-box;
    border: 1px solid;

}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.list {
    text-align: center;
    padding: 20px;
    background: lightblue;
    margin: 10px auto;
    display: block;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    text-align: center;
}

ul li {
    color:blue;
}

ol li {
    color:purple;
}

h2, h3 {
    color:darkred;
}

p {
    font-family: cursive;
}

a {
    text-align: center;
}

.one {
    color: darkgreen;
    font-style: italic;
}

.two {
    color: darkorange;
}

.three {
    color: darkcyan;
}

#last {
    font-weight: bolder;
}