/* style.css */

/* Set alternative box model */
html {
    box-sizing: border-box;
    border: 1px solid;

}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.list {
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    text-decoration: none;
    height: 100px;
    width: 300px;
    margin: 20px auto;
    background: lightblue;
    display: block;
    border: 2px solid;
}

.dishpic {
    display: block;
    margin: 0 auto;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    text-align: center;
}

ul li {
    color:blue;
}

ol li {
    color:purple;
}

h2, h3 {
    color:darkred;
}

p {
    font-family: cursive;
}

a {
    text-align: center;
}

.one {
    color: darkgreen;
    font-style: italic;
}

.two {
    color: darkorange;
}

.three {
    color: darkcyan;
}

#last {
    font-weight: bolder;
}